@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&family=Patrick+Hand&display=swap');

:root{
    --color-light: #FFFFFFC8;
    --color-light-subdued: #FFFFFF64;
    --color-dark: #2A363B;
    --color-dark-transparent: #2A363BC8;
    --color-accent: #FF847C;
    --color-accent-dark: #E84A5F;
    --color-link: #FECEA8;
    --color-visited: #E84A5F;

    --rounded-big: 1rem;
    --rounded-small: .3rem;

    color: var(--color-light);
    background-color: var(--color-dark);
    font-family: Dosis,-apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Oxygen-Sans, Ubuntu, Cantarell,"Helvetica Neue", sans-serif;
}